@font-face {
  font-family: 'futura_lightregular';
  src: url("../../fonts/ufonts.com_futurabt-light-opentype.eot");
  src: url("../../fonts/ufonts.com_futurabt-light-opentype.eot?#iefix") format("embedded-opentype"), url("../../fonts/ufonts.com_futurabt-light-opentype.woff2") format("woff2"), url("../../fonts/ufonts.com_futurabt-light-opentype.woff") format("woff"), url("../../fonts/ufonts.com_futurabt-light-opentype.ttf") format("truetype"), url("../../fonts/ufonts.com_futurabt-light-opentype.svg#futura_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futura_bkbook';
  src: url("../../fonts/ufonts.com_futura-book-webfont.eot");
  src: url("../../fonts/ufonts.com_futura-book-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/ufonts.com_futura-book-webfont.woff2") format("woff2"), url("../../fonts/ufonts.com_futura-book-webfont.woff") format("woff"), url("../../fonts/ufonts.com_futura-book-webfont.ttf") format("truetype"), url("../../fonts/ufonts.com_futura-book-webfont.svg#futura_bkbook") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futura_bold';
  src: url("../../fonts/ufonts.com_futura-bold-bt-webfont.eot");
  src: url("../../fonts/ufonts.com_futura-bold-bt-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/ufonts.com_futura-bold-bt-webfont.woff2") format("woff2"), url("../../fonts/ufonts.com_futura-bold-bt-webfont.woff") format("woff"), url("../../fonts/ufonts.com_futura-bold-bt-webfont.ttf") format("truetype"), url("../../fonts/ufonts.com_futura-bold-bt-webfont.svg#futura_md_btbold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Color */
/* Break Points */
/* This section needs to be finished */
/* Cross browser */
/***Global effects*/
body {
  font-family: "futura_lightregular"; }

.transparent-bg {
  background-color: rgba(0, 0, 0, 0.4); }
  .transparent-bg-darker {
    background-color: rgba(0, 0, 0, 0.6); }

a {
  cursor: pointer; }

.light-gray {
  background-color: #eff0f2; }

.black {
  background-color: #000; }

.uppercase {
  text-transform: uppercase; }

/***Position*/
.text-center {
  text-align: center; }

.inline-block {
  display: inline-block; }

.absolute-position {
  position: absolute; }

.absolute-left {
  left: 0; }

.absolute-right {
  right: 0; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.half-width {
  width: 50%; }

.center {
  margin: 0 auto; }

/* Button */
.button {
  padding: 12px 30px 12px 30px;
  font-weight: bold;
  border: 2px solid;
  color: white; }

.button-white {
  padding: 12px 30px 12px 30px;
  font-weight: bold;
  border: 2px solid #fff;
  color: #fff !important; }

/* End of global */
body {
  overflow-y: scroll !important;
  overflow-x: hidden !important; }

.top_nav {
  background-color: #fff;
  height: 34px;
  width: 100%;
  display: block;
  padding-top: 5px; }
  .top_nav .full-screen-container {
    padding: 0; }
    .top_nav .full-screen-container .inline-block {
      height: 34px;
      float: right; }
    .top_nav .full-screen-container .navbar {
      margin-right: 15px; }
      .top_nav .full-screen-container .navbar ul li {
        height: 34px;
        padding: 0; }
        .top_nav .full-screen-container .navbar ul li a {
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease;
          color: #000;
          padding: 0; }
          .top_nav .full-screen-container .navbar ul li a:hover {
            background-color: #fff;
            color: gainsboro; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
.top_nav .full-screen-container .language {
  margin-right: 15px;
  font-size: 13px; }
  .top_nav .full-screen-container .language ul.nav li.dropdown {
    padding-top: 2px; }
    .top_nav .full-screen-container .language ul.nav li.dropdown a {
      padding: 0 !important;
      height: 25px;
      color: #000;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .top_nav .full-screen-container .language ul.nav li.dropdown a:hover {
        background-color: #fff;
        color: gainsboro; }
      .top_nav .full-screen-container .language ul.nav li.dropdown a:focus {
        background-color: #fff; }
      .top_nav .full-screen-container .language ul.nav li.dropdown a:visited {
        background-color: #fff; }
      .top_nav .full-screen-container .language ul.nav li.dropdown a img.center {
        margin-bottom: 4px; }
    .top_nav .full-screen-container .language ul.nav li.dropdown .dropdown-menu {
      min-width: 50px;
      width: 100px;
      margin-top: 22px;
      margin-left: -5px;
      padding-left: 5px; }
      .top_nav .full-screen-container .language ul.nav li.dropdown .dropdown-menu li.navbar--list-item display:inline-block
a.menu--link {
        display: inline-block; }

.top_nav .full-screen-container .search .search_button {
  background: url("../../../img/search.png") no-repeat;
  width: 18px;
  height: 18px;
  display: block;
  margin-top: 2px; }

.top_nav .full-screen-container .search ul.nav li.dropdown a {
  padding: 0;
  height: 25px; }
  .top_nav .full-screen-container .search ul.nav li.dropdown a:hover {
    background-color: #fff; }
  .top_nav .full-screen-container .search ul.nav li.dropdown a:focus {
    background-color: #fff; }
  .top_nav .full-screen-container .search ul.nav li.dropdown a:visited {
    background-color: #fff; }

.top_nav .full-screen-container .search ul.nav li.dropdown .dropdown-menu {
  margin-top: 25px;
  width: 270px;
  margin-left: -245px; }
  .top_nav .full-screen-container .search ul.nav li.dropdown .dropdown-menu li.navbar--list-item {
    display: inline-block;
    padding: 5px 5px 2px 8px; }
    .top_nav .full-screen-container .search ul.nav li.dropdown .dropdown-menu li.navbar--list-item input[type=text] {
      width: 230px;
      padding-left: 10px; }
    .top_nav .full-screen-container .search ul.nav li.dropdown .dropdown-menu li.navbar--list-item a.search_button {
      margin-left: 5px !important;
      margin-top: 3px; }

.main_nav {
  height: 95px;
  background-color: #002a5f;
  text-transform: uppercase; }
  .main_nav .full-screen-container {
    padding-left: 309px;
    padding-right: 200px;
    height: 95px; }
    .main_nav .full-screen-container .left {
      float: left; }
    .main_nav .full-screen-container .right {
      float: right; }
    .main_nav .full-screen-container .logo {
      width: 290px;
      margin-left: -270px;
      padding-top: 23px; }
      .main_nav .full-screen-container .logo span.logo_span {
        width: 290px;
        height: 52px;
        display: block;
        background: url("../../../img/logo.png") no-repeat; }
    .main_nav .full-screen-container nav.navbar {
      margin-bottom: 0px;
      border: none; }
      .main_nav .full-screen-container nav.navbar ul li.root {
        min-width: 150px; }
        .main_nav .full-screen-container nav.navbar ul li.root a {
          height: 94px;
          padding-top: 35px;
          text-align: center;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease;
          color: #fff;
          padding-bottom: 0px; }
          .main_nav .full-screen-container nav.navbar ul li.root a:hover {
            background-color: #1e2e41; }
          .main_nav .full-screen-container nav.navbar ul li.root a:visited {
            background-color: #1e2e41; }
          .main_nav .full-screen-container nav.navbar ul li.root a:active {
            background-color: #1e2e41; }
        .main_nav .full-screen-container nav.navbar ul li.root .dropdown-menu {
          background-color: rgba(0, 0, 0, 0.6); }
        .main_nav .full-screen-container nav.navbar ul li.root .level-2 {
          padding: 0; }
          .main_nav .full-screen-container nav.navbar ul li.root .level-2 li a {
            height: 40px;
            padding-top: 10px; }
    .main_nav .full-screen-container .dropdown-menu li:hover {
      background: black !important; }
    .main_nav .full-screen-container .dropdown-menu li a:hover {
      background: black !important; }

.main_nav .full-screen-container .buy_tickets {
  width: 175px;
  margin-right: -200px;
  background-color: #92d400;
  height: 95px;
  text-align: center; }
  .main_nav .full-screen-container .buy_tickets .uppercase {
    display: block;
    margin-top: 35px;
    font-size: 20px;
    font-weight: bold;
    color: #fff; }

.box-container {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  padding: 0 55px 0 55px;
  width: 100%; }
  .box-container .left-bar {
    margin-left: -55px; }
    .box-container .left-bar.expanded {
      width: 300px;
      position: absolute;
      z-index: 100;
      margin-left: -300px; }
      .box-container .left-bar.expanded .lines-button {
        float: right; }
      .box-container .left-bar.expanded .accordion {
        margin-top: 33px; }
  .box-container .right-bar {
    margin-right: -55px; }
  .box-container .box-sidebar {
    width: 55px;
    height: 993px;
    display: block; }
  .box-container .box-center-container {
    width: 100%; }
  .box-container.right-side {
    padding-left: 300px; }

#leftMenu {
  display: none; }

.box-container .left-bar {
  text-align: center; }
  .box-container .left-bar.expanded {
    text-align: left;
    font-family: "futura_bkbook", "futura_lightregular"; }
    .box-container .left-bar.expanded #leftMenu {
      display: block; }
    .box-container .left-bar.expanded .accordion-group {
      padding-bottom: 10px;
      margin-left: 30px; }
      .box-container .left-bar.expanded .accordion-group .accordion-heading a {
        color: #000;
        text-transform: uppercase;
        font-size: 16px; }
      .box-container .left-bar.expanded .accordion-group .accordion-body ul {
        padding-left: 15px;
        padding-top: 10px;
        list-style: none; }
        .box-container .left-bar.expanded .accordion-group .accordion-body ul li {
          padding: 3px 0; }
          .box-container .left-bar.expanded .accordion-group .accordion-body ul li a {
            color: #000; }

button {
  display: inline-block;
  margin: 0 1em;
  border: none;
  background: none; }
  button span {
    display: block; }

.grid-button {
  padding: 2rem;
  cursor: pointer;
  user-select: none; }

.grid-button .grid {
  width: 1rem;
  height: 1rem;
  background: #000;
  color: #000;
  /* Not in use when the colors are specified below */
  transition: 0.5s; }

.grid-button.close .grid {
  -webkit-transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8);
  transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8); }

.grid-button.rearrange .grid {
  box-shadow: -1.25rem -1.25rem, 0 -1.25rem, 1.25rem -1.25rem, -1.25rem 0, 1.25rem 0, -1.25rem 1.25rem, 0 1.25rem, 1.25rem 1.25rem; }

.grid-button.rearrange.close .grid {
  box-shadow: 0 -1rem, 0 -2rem, 1rem 0, -2rem 0, 2rem 0, -1rem 0, 0 2rem, 0 1rem; }

.grid-button.collapse .grid {
  box-shadow: -1.25rem 0, -1.25rem 1.25rem, 1.25rem 0, 1.25rem -1.25rem, 0 -1.25rem, -1.25rem -1.25rem, 0 1.25rem, 1.25rem 1.25rem; }

.grid-button.collapse.close .grid {
  box-shadow: -1rem 0, 0 0 transparent, 1rem 0, 0 0 transparent, 0 -1rem, 0 0 transparent, 0 1rem, 0 0 transparent; }

/* ====================== lines button ==================================================*/
.lines-button {
  padding: 1.5rem 0.75rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.42857rem;
  margin: auto;
  margin-top: 18px;
  outline: 0;
  /* */ }
  .lines-button:hover {
    opacity: 1; }
  .lines-button:active {
    transition: 0; }

.lines {
  display: inline-block;
  width: 3rem;
  height: 0.42857rem;
  background: #000;
  border-radius: 0.21429rem;
  transition: 0.5s;
  position: relative; }
  .lines:before, .lines:after {
    display: inline-block;
    width: 3rem;
    height: 0.42857rem;
    background: #000;
    border-radius: 0.21429rem;
    transition: 0.5s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.21429rem center;
    transform-origin: 0.21429rem center; }
  .lines:before {
    top: 0.75rem; }
  .lines:after {
    top: -0.75rem; }

.lines-button:hover .lines:before {
  top: 0.85714rem; }

.lines-button:hover .lines:after {
  top: -0.85714rem; }

.lines-button.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8); }

.lines-button.arrow.close .lines:before, .lines-button.arrow.close .lines:after {
  top: 0;
  width: 1.66667rem; }

.lines-button.arrow.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg); }

.lines-button.arrow.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg); }

.lines-button.arrow-up.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
  transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg); }

.lines-button.minus.close .lines:before, .lines-button.minus.close .lines:after {
  -webkit-transform: none;
  transform: none;
  top: 0;
  width: 3rem; }

.lines-button.x.close .lines {
  background: transparent; }
  .lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 3rem; }
  .lines-button.x.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg); }
  .lines-button.x.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg); }

.lines-button.x2 .lines {
  transition: background .3s .5s ease; }
  .lines-button.x2 .lines:before, .lines-button.x2 .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: top .3s .6s ease, -webkit-transform .3s ease;
    transition: top .3s .6s ease, transform .3s ease; }

.lines-button.x2.close .lines {
  transition: background .3s 0s ease;
  background: transparent; }
  .lines-button.x2.close .lines:before, .lines-button.x2.close .lines:after {
    transition: top .3s ease, -webkit-transform .3s .5s ease;
    transition: top .3s ease, transform .3s .5s ease;
    top: 0;
    width: 3rem; }
  .lines-button.x2.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg); }
  .lines-button.x2.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg); }

.featured-home {
  margin-top: 0px;
  position: relative;
  width: 100%;
  background-size: auto 110%;
  overflow: hidden;
  text-align: center;
  height: 754px;
  background-size: 150%; }
  .featured-home .banner-text {
    width: 450px;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 150px;
    color: white; }
  .featured-home .floating-star {
    position: absolute;
    left: -100px;
    bottom: -100px; }
  .featured-home .button {
    padding: 17px 20px 17px 20px;
    position: relative;
    top: 60px;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; }
    .featured-home .button:hover {
      text-decoration: none;
      box-shadow: inset 0 0 0 2px white; }

.featured_home_info {
  text-align: center;
  color: #999999; }
  .featured_home_info .full-screen-container .infomation {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 95px; }
  .featured_home_info .full-screen-container .info_content {
    color: black;
    font-size: 18px;
    font-weight: 500; }
  .featured_home_info .full-screen-container .nav_icon {
    position: relative;
    top: -3px; }

.whats_on {
  margin-top: 40px;
  text-align: center;
  font-family: "futura_bkbook";
  font-size: 40px;
  font-weight: 30px; }
  .whats_on .whatson_content {
    margin-top: 30px;
    height: 250px; }
    .whats_on .whatson_content .centered {
      position: absolute;
      left: 0;
      right: 0;
      transform: translate(0, -150px); }
      .whats_on .whatson_content .centered .whatson_carousel_title {
        color: #fff; }
      .whats_on .whatson_content .centered .whatson_carousel_content {
        color: #fff; }
    .whats_on .whatson_content:hover span.whatson_hover_content {
      opacity: 1;
      height: 189px; }
    .whats_on .whatson_content:hover .whatson_view_button {
      display: block; }
  .whats_on .image_wrapper {
    height: 188px; }
  .whats_on .whatson_carousel_img {
    max-width: 100%; }
  .whats_on .whatson_carousel_textarea {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    height: 50px; }
    .whats_on .whatson_carousel_textarea .whatson_carousel_title {
      margin-top: 10px;
      font-family: "futura_lightregular";
      font-size: 15px;
      letter-spacing: -0.3px;
      color: #000000; }
    .whats_on .whatson_carousel_textarea .whatson_carousel_content {
      font-size: 13px;
      letter-spacing: -0.3px;
      color: #696969; }
    .whats_on .whatson_carousel_textarea .whatson_view_button {
      display: none; }
    .whats_on .whatson_carousel_textarea .whatson_view_button a {
      color: white;
      text-decoration: none;
      border: 2px solid;
      font-size: 16px;
      font-family: "futura_bold";
      padding: 10px 25px 5px 25px;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease; }
      .whats_on .whatson_carousel_textarea .whatson_view_button a:hover {
        box-shadow: inset 0 0 0 1px #fff; }
  .whats_on .whatson_hover_content {
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
    height: 0px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: table;
    left: 15px;
    position: absolute;
    width: 360px;
    opacity: 1;
    overflow: hidden;
    bottom: 60px; }

.slick-initialized .slick-slide {
  outline: none; }

.whats_new {
  margin-top: 60px;
  text-align: center; }
  .whats_new .whats_news_title {
    color: white;
    padding-top: 50px;
    font-size: 40px; }
  .whats_new .whatsnew_content {
    margin-top: 30px;
    height: 250px; }
    .whats_new .whatsnew_content .centered {
      transform: translate(0, -150px); }
    .whats_new .whatsnew_content:hover span.whatsnew_hover_content {
      height: 189px; }
    .whats_new .whatsnew_content:hover .whatsnew_play_button {
      display: block; }
  .whats_new .whats_news_image_wrapper {
    width: 100%;
    height: 189px;
    background-color: white; }
  .whats_new .whatsnew_carousel_img {
    max-width: 100%;
    max-height: 100%; }
  .whats_new .whatsnew_carousel_textarea {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    min-height: 50px; }
    .whats_new .whatsnew_carousel_textarea .whatsnew_carousel_title {
      margin-top: 10px;
      font-family: "futura_lightregular";
      font-size: 15px;
      letter-spacing: -0.3px;
      color: #fff; }
    .whats_new .whatsnew_carousel_textarea .whatsnew_carousel_content {
      margin-top: 10px;
      font-family: "futura_lightregular";
      font-size: 13px;
      letter-spacing: -0.3px;
      color: #fff; }
    .whats_new .whatsnew_carousel_textarea .whatsnew_play_button {
      display: none; }
    .whats_new .whatsnew_carousel_textarea .whatsnew_play_button a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-family: "futura_bold"; }
  .whats_new .whatsnew_hover_content {
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
    height: 0px;
    background: rgba(0, 0, 0, 0.5);
    display: table;
    position: absolute;
    width: 360px;
    overflow: hidden;
    bottom: 60px; }
