.post_list_item{
    .read_more{
        margin-top:15px;
        display:inline-block;
        font-weight: bold;
        padding: 12px 25px 12px 25px;
        font-family: $font-fu-bold;
    }
    
    .learn_more{
        color:$title_blue;
        text-decoration: underline;
        text-transform: uppercase;
        margin:15px 0;
        display:block;
        font-family:$font-fu-book;
    }
    padding-bottom: 30px;
}

