.main_nav{
    .container{
        .buy_tickets{
            width:175px;
            margin-right:-200px;
            background-color:$green;
            height:96px;
            text-align: center;
            margin-top:-1px;
            .uppercase{
                display:block;
                margin-top:35px;
                font-size:20px;
                font-weight:bold;
                color:#fff;
            }
        }
    }
}