
.featured-home{
    margin-top:0px;
    position:relative;
    width:100%;
    background-size:cover !important;
    overflow: hidden;
    text-align:center;
    height:754px;

    .banner-text{
        width:500px;
        display:block;
        text-align: center;
        margin:auto;
        margin-top: 150px;
        color: white;
    }
    
    .floating-star{
        position:absolute;
        left:-100px;
        bottom:-100px;
    }

    .button{
        padding: 21px 20px 21px 20px;
        position: relative;
        top: 60px;
    }
}