
.featured-home{
    margin-top:0px;
    position:relative;
    width:100%;
    background-size:auto 110%;
    overflow: hidden;
    text-align:center;
    height:754px;
    background-size:150%;

    .banner-text{
        width:450px;
        display:block;
        text-align: center;
        margin:auto;
        margin-top: 150px;
        color: white;
    }
    
    .floating-star{
        position:absolute;
        left:-100px;
        bottom:-100px;
    }

    .button{
        padding: 17px 20px 17px 20px;
        position: relative;
        top: 60px;
        @include transition(all 0.1s ease);
 
        &:hover{
            text-decoration: none;
            box-shadow: inset 0 0 0 2px white;
        }
    }
}