.main_nav{
    height:95px;
    background-color:$nav_blue;
    text-transform:uppercase;
    .full-screen-container{
        padding-right:200px;
        height:95px;
        .left{
            float:left;
        }
        .right{
            float:right;
        }
        .logo{
            position:absolute;
            width:290px;
            padding-top:23px;
            padding-left:30px;
            span.logo_span{
                width:290px;
                height:52px;
                display:block;
                background:url('../../../img/logo.png') no-repeat;
            }
        }
        nav.navbar{
            margin-bottom:0px;
            border:none;

            ul
                
                li.root{
                    min-width:150px;
                    a{
                        height:94px;
                        padding-top:35px;
                        text-align: center;
                        @include transition(all 0.4s ease);
                        color:#fff;
                        padding-bottom:0px;;
                        &:hover{
                            background-color:$head_blue;
                        }
                        &:visited{
                            background-color:$head_blue;
                        }
                        &:active{
                            background-color:$head_blue;
                        }
                    }
                    

                    .dropdown-menu{
                        background-color:rgba(0,0,0,0.6);
                        
                    }
                    .level-2{
                        padding:0;
                        li{
                            a{
                                height:40px;
                                padding-top:10px;
                            }
                        }
                    }
                }
                
                .dropdown:hover .dropdown-menu{
                    display:block !important;
                }
            }
        }
        
        .dropdown-menu li:hover{
            background: black !important;
        }
        .dropdown-menu li a:hover{
            background: black !important;
        }
}



@import "sub_components/__tickets.scss";
@import "sub_components/__box_container.scss"; 
@import "media_queries/__main_nav.scss";